*
{
 margin: 0px;
 padding: 0px;
 
 box-sizing: border-box;
 font-family: Montserrat, serif, sans-serif 
}

html
{
 background-color: black;
}

#container
{
 margin: auto;
 width: 1500px;
 height: 900px;
 
 background-color: red;
}

#formalan
{
 background-color:rgb(30, 30, 30);

 color: brown;
 
 border-radius: 20px;
 
 width: 460px;
 height: 400px;
 
 position: relative;
 top: 175px;
 left: 500px;
}

#formalanbanner
{
 background-color: black;
 
 width: 460px;
 height: 75px;
 
 border-radius: 20px 20px 0px 0px ;
 
 color: darkred;
 padding: 20px;
 padding-top: 27px;
 
 text-align: left;
 font-weight: bolder;
 font-size: 20px
}

#logo
{
 float: right;

 position: relative;
 top: -75px;
 right: 10px; 
}

#tablo
{
 position: absolute;
 top: 105px;
 left: 20px;

 text-align: left;
}

input, select
{
 color: lightblue;
 background-color: black;

 margin-top: 5px;
 margin-bottom: 10px;
}

input:hover, select:hover
{
 border: white solid 1px
}

button
{
 background-color: black;
 color: lightblue;
 padding: 5px;
 margin: 7px;
}

button:active
{
 color: darkred;
}